# DATA WRANGLING

In [1]:
#### Import required libraries
import pandas as pd
import numpy as np

In [18]:
df=pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/datasets/dataset_part_1.csv")
print(df.head(10))
print(df.info())

   FlightNumber        Date BoosterVersion  PayloadMass Orbit    LaunchSite  \
0             1  2010-06-04       Falcon 9  6104.959412   LEO  CCAFS SLC 40
1             2  2012-05-22       Falcon 9   525.000000   LEO  CCAFS SLC 40
2             3  2013-03-01       Falcon 9   677.000000   ISS  CCAFS SLC 40
3             4  2013-09-29       Falcon 9   500.000000    PO   VAFB SLC 4E
4             5  2013-12-03       Falcon 9  3170.000000   GTO  CCAFS SLC 40
5             6  2014-01-06       Falcon 9  3325.000000   GTO  CCAFS SLC 40
6             7  2014-04-18       Falcon 9  2296.000000   ISS  CCAFS SLC 40
7             8  2014-07-14       Falcon 9  1316.000000   LEO  CCAFS SLC 40
8             9  2014-08-05       Falcon 9  4535.000000   GTO  CCAFS SLC 40
9            10  2014-09-07       Falcon 9  4428.000000   GTO  CCAFS SLC 40

       Outcome  Flights  GridFins  Reused   Legs LandingPad  Block  \
0    None None        1     False   False  False        NaN    1.0
1    None None        1     False   False  False        NaN    1.0
2    None None        1     False   False  False        NaN    1.0
3  False Ocean        1     False   False  False        NaN    1.0
4    None None        1     False   False  False        NaN    1.0
5    None None        1     False   False  False        NaN    1.0
6   True Ocean        1     False   False   True        NaN    1.0
7   True Ocean        1     False   False   True        NaN    1.0
8    None None        1     False   False  False        NaN    1.0
9    None None        1     False   False  False        NaN    1.0

   ReusedCount Serial   Longitude   Latitude
0            0  B0003  -80.577366  28.561857
1            0  B0005  -80.577366  28.561857
2            0  B0007  -80.577366  28.561857
3            0  B1003 -120.610829  34.632093
4            0  B1004  -80.577366  28.561857
5            0  B1005  -80.577366  28.561857
6            0  B1006  -80.577366  28.561857
7            0  B1007  -80.577366  28.561857
8            0  B1008  -80.577366  28.561857
9            0  B1011  -80.577366  28.561857
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   FlightNumber    90 non-null     int64
 1   Date            90 non-null     object
 2   BoosterVersion  90 non-null     object
 3   PayloadMass     90 non-null     float64
 4   Orbit           90 non-null     object
 5   LaunchSite      90 non-null     object
 6   Outcome         90 non-null     object
 7   Flights         90 non-null     int64
 8   GridFins        90 non-null     bool
 9   Reused          90 non-null     bool
 10  Legs            90 non-null     bool
 11  LandingPad      64 non-null     object
 12  Block           90 non-null     float64
 13  ReusedCount     90 non-null     int64
 14  Serial          90 non-null     object
 15  Longitude       90 non-null     float64
 16  Latitude        90 non-null     float64
dtypes: bool(3), float64(4), int64(3), object(7)
memory usage: 10.2+ KB
None

In [3]:
# Missing values of percentage
df.isnull().sum()/len(df)*100

FlightNumber       0.000000
Date               0.000000
BoosterVersion     0.000000
PayloadMass        0.000000
Orbit              0.000000
LaunchSite         0.000000
Outcome            0.000000
Flights            0.000000
GridFins           0.000000
Reused             0.000000
Legs               0.000000
LandingPad        28.888889
Block              0.000000
ReusedCount        0.000000
Serial             0.000000
Longitude          0.000000
Latitude           0.000000
dtype: float64

In [5]:
# Data types
df.dtypes

FlightNumber        int64
Date               object
BoosterVersion     object
PayloadMass       float64
Orbit              object
LaunchSite         object
Outcome            object
Flights             int64
GridFins             bool
Reused               bool
Legs                 bool
LandingPad         object
Block             float64
ReusedCount         int64
Serial             object
Longitude         float64
Latitude          float64
dtype: object

In [6]:
# Launch sites
df["LaunchSite"].value_counts()

LaunchSite
CCAFS SLC 40    55
KSC LC 39A      22
VAFB SLC 4E     13
Name: count, dtype: int64

In [7]:
# Orbit targets
df["Orbit"].value_counts()

Orbit
GTO      27
ISS      21
VLEO     14
PO        9
LEO       7
SSO       5
MEO       3
ES-L1     1
HEO       1
SO        1
GEO       1
Name: count, dtype: int64

In [9]:
# Outcomes
landing_outcomes = df["Outcome"].value_counts()
print(landing_outcomes)
print(type(landing_outcomes))

Outcome
True ASDS      41
None None      19
True RTLS      14
False ASDS      6
True Ocean      5
False Ocean     2
None ASDS       2
False RTLS      1
Name: count, dtype: int64
<class 'pandas.core.series.Series'>

In [11]:
for i, outcome in enumerate(landing_outcomes.keys()):
    print(i, outcome)

0 True ASDS
1 None None
2 True RTLS
3 False ASDS
4 True Ocean
5 False Ocean
6 None ASDS
7 False RTLS

In [13]:
# Set of outcomes, unsuccessful landing type
bad_outcomes=set(landing_outcomes.keys()[[1,3,5,6,7]])
print(bad_outcomes)
print(type(bad_outcomes))

{'False RTLS', 'None ASDS', 'None None', 'False Ocean', 'False ASDS'}
<class 'set'>

In [17]:
false_rtls = df[df["Outcome"] == "False RTLS"]
print(len(false_rtls))

none_none = df[df["Outcome"] == "None None"]
print(len(none_none))

none_asds = df[df["Outcome"] == "None ASDS"]
print(len(none_asds))

false_ocean = df[df["Outcome"] == "False Ocean"]
print(len(false_ocean))

false_asds = df[df["Outcome"] == "False ASDS"]
print(len(false_asds))

1
19
2
2
6

In [ ]:
n_bad_outcomes = 30
n_good_outcomes = 60

In [ ]:
# df['Class']=landing_class
# df[['Class']].head(8)
# df["Class"].mean()
# df.to_csv("dataset_part_2.csv", index=False)
# df.to_csv("dataset_part_2.csv", index=False)